.input-group-append {
  cursor: pointer;
}

.card-img-top {
  height: 200px;
}
.card {
  border: 0;
}

.instruction-list {
  list-style-type: none;
}
.instruction-list li {
  display: flex;
}
.instruction-list li :first-child {
  margin-right: 0.4rem;
  border-radius: 50%;
}
.money-partners {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 2rem 0;
}
.money-partners * {
   
  height: 30px;
}
